.button {
  padding: 1rem 2.75rem;
  font-size: 1.0rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  transform: scale(0.98);
}

.buttonTeams {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.0rem;
  font-weight: 600;
  border-radius: 8px;
  border: 3px solid black;
  cursor: pointer;
  background-color: rgba(254, 195, 18, 0.905);;
  color: #111;
  transition: transform 0.1s ease, opacity 0.1s ease;
}
