* {
    margin: 0;
    padding: 0;
    font-family: Marker Felt, fantasy;
}
header {
  border-bottom: 1px solid #eee;
  background-color: black;
}

nav {
    display: flex;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}



.logoImage {
    width: 30%;
}

.logoImage img {
    width: 80%;
    margin: 1rem;
}