.selected-link {
    background-color: white;
    border: 5px solid rgba(255, 194, 11, 0.905);
    color: black;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: 3px 3px 12px rgba(255, 194, 11, 0.905);*/
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
    
}

header {
  border-bottom: 1px solid #eee;
  background-color: black;
}

nav {
    display: flex;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    list-style: none;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    border-radius: 30px;
}

.logoImage {
    width: 30%;
}

.logoImage img {
    width: 80%;
    margin: 1rem;
}

