.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh; 
  background-color: #fafafa;
}


.container {
  padding: 1rem 0;
  flex: 1
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.board {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  width: 100%;
}

.column {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.teamTitle {
  text-align: center;
  font-size: 1.5rem;
}


.input {
  padding: 0.75rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #000;
}

.line {
    width: 95%;
    border: 2.5px solid rgba(255, 194, 11, 0.905);
    margin-top: 20px;
}

/*  ==  == ==  */

.totals {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-top: 20px;
    margin-right: 20px;
}
.totals h2 {
    margin: 0;
}

.resultTitles {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.resultTitles h2 {
    margin: 0;
}

.results {
    display: flex;
}

.results h2 {
    margin-left: 2rem;
}

/* Desktop enhancement */
@media (min-width: 768px) {
  .board {
    flex-direction: row;
  }

  .column {
    flex: 1;
  }
}
