.container {
  padding: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.board {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  width: 100%;
}

.column {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.teamTitle {
  text-align: center;
  font-size: 1.5rem;
}

.input {
  padding: 0.75rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #000;
}

.line {
    width: 95%;
    border: 2.5px solid rgba(255, 194, 11, 0.905);
    margin-top: 20px;
}

/*  ==  == ==  */

.initialScores {
    display: flex;
    margin-top: 20px;
}

/* Desktop enhancement */
@media (min-width: 768px) {
  .board {
    flex-direction: row;
  }

  .column {
    flex: 1;
  }
}
